body {
    background: #9AC5F4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    height: 200px;
    width: 300px;
    background: white; 
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 0 auto;
}